* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  /*font-family: sans-serif;*/

  /* line-height: 1.5em; */

  font-size: 16px;
  /* 鼠标样式 */
  text-decoration: none;
  cursor: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8' width='10px' height='10px'><circle cx='4' cy='4' r='4' fill='white' /></svg>")
      4 4,
    auto !important;
}

@font-face {
  font-family: "myFont";
  src: url("@/assets/fonts/SmileySans.otf");
  font-display: swap;
}

body {
  font-family: "myFont", sans-serif;
  overflow: hidden;
}

#nprogress .bar {
  background: #9c71db !important;
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 1em;
}
